@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

:root {
    --primary-color: #cf4258;
    --secondary-color: #f38d56;
    --background-color: #171717;
    --text-color: #fff;
    --gold-color: #ffd956;
    --card-color: #2B2929;
    --card-text-color: #787774;
}

body {
    background: var(--background-color);
    font-family: "Outfit", sans-serif;
    margin: 0;
    padding: 0;
}

.bg-color {
    background: linear-gradient(to right, var(--primary-color), var(--secondary-color));
}

.navbar {
    padding: 0 80px;
}

.navbar-nav .nav-link {
    color: var(--text-color);
    font-size: 24px;
    font-weight: bold;
    transition: color 0.3s;
    margin-top: -65px;
}

.navbar-nav .nav-link.active {
    color: var(--gold-color) !important;
}

.navbar-nav .nav-link:hover {
    color: var(--gold-color) !important;
}

.navbar-brand img {
    max-width: 100%;
}

.left-img {
    margin-top: -45px;
}

.navbar-brand img {
    max-width: 100%;
}

.navbar-nav .nav-item {
    margin-right: 40px !important;
}

.navbar-nav .nav-item:last-child {
    margin-right: 0 !important;
}

#section1 {
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
}

.smart-card {
    text-align: center;
    margin-left: -81px;
}

.smart-card img {
    max-width: 100%;
    height: auto;
    z-index: 1;
}

.light {
    position: absolute;
}

#section1 .left-light {
    top: 0;
    left: 0;
}

#section1 .right-light {
    top: 0;
    right: 0;
}

/* =================================== */
#section2 {
    border-bottom: 20px solid var(--gold-color);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 60px;
    padding-bottom: 60px;
    color: var(--text-color);
    background-color: #010101;
}

#section2 .heading {
    padding: 30px 0;
}

#section2 h6 {
    padding-top: 20px;
    font-size: 24px;
    text-align: center;
}

#section2 h6:first-child {
    font-size: 45px !important;
}

marquee {
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
    background-color: var(--gold-color);
    position: relative;
    font-size: 40px;
    color: var(--background-color);
}




@keyframes marquee {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-100%);
    }
}

/* ========================================= */
#section3 {
    background: url('/assets/images/section3/bg.svg');
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 60px;
    padding-bottom: 60px;
    color: var(--text-color);
}

#section3 h6 {
    padding-top: 20px;
    font-size: 45px;
    text-align: center;
}

#section3 .card-style {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    /* grid-column-gap: 7rem;
    grid-row-gap: 1rem; */
    grid-gap: 1rem;


}

.box {
    border: none;
    border-radius: 8px;
    background-color: var(--card-color);
    padding: 35px 25px;
}

.box img {
    padding-top: 25px;
}

.box .card-title {
    color: var(--card-text-color);
    padding-bottom: 20px;
    font-size: 24px;
}

.box .card-text {
    /* padding-bottom: 20px; */
    font-size: 16px;
}

.box:first-child {
    grid-column: 1 / span 2s;
    grid-row: 1 / span 2;
}

.box:nth-child(5) {
    grid-column: 3 / span 1;
    grid-row: 2 / span 2;
}

.box:nth-child(4) {
    background-color: var(--text-color);
    color: var(--card-text-color);
    font-size: 24px;
}

box:nth-child(4):hover {
    background-color: rgba(var(--text-color), 0.7);
    color: var(--text-color);
    box-shadow: 0 0 10px rgb(255, 255, 255);
}

.box:nth-child(4) .offer {
    position: relative;
    left: 45%;
    top: -22%;
}

.box:nth-child(4) .arrow {
    position: relative;
    left: -20%;
    top: 5%;
}

#section3 .left-light {
    top: -120px;
    left: -170px;
}

#section3 .right-light {
    top: -120px;
    right: -170px;
}

#section3 .card-head {
    padding-top: 120px;
}

/* =================================== */

#section4 {
    background-color: var(--primary-color);
    padding-bottom: 60px;
}

#section4 img {
    width: 100%;
    position: relative;
}

#section4 .bg-top-img {
    top: -200px;
}

#section4 .bg-bottum-img {
    top: 270px;
}

#section4 .text-subtitle {
    color: var(--text-color);
    font-size: 24px;
    font-weight: bold;
    position: absolute;
    top: -300px;
}

#section4 .text-head {
    color: var(--gold-color);
    font-size: 48px;
    position: absolute;
    top: -260px;
}

#section4 .card {
    border-radius: 20px;
    padding: 0;
    margin: 20px 0;
}

#section4 .card:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
}

#section4 .card:hover::after {
    /* position: absolute;
    top: 0;
    right: 0; */
    background: url('../../assets/images/section4/card-hover.svg');
}

#section4 .card-title {
    border-radius: 20px;
    font-size: 24px;
}

#section4 .card-text {
    border-radius: 20px;
    font-size: 16px;
}

#section4 .card img {
    width: 80%;
    margin-left: 0;
    justify-content: center;
    /* box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2),
                -5px -5px 5px rgba(0, 0, 0, 0.2),
                5px -5px 5px rgba(0, 0, 0, 0.2),
                -5px 5px 5px rgba(0, 0, 0, 0.2); */
    border-radius: 22px;
}

#section4 .img-shadow {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
}

#section4 .container {
    margin-top: -40px;
}

#section4 .ai-card {
    margin-top: -180px;
    margin-bottom: -240px;
}

#section4 a {
    background-color: var(--gold-color);
    color: var(--background-color);
    border-radius: 25px;
    padding: 10px 20px;
    font-size: 32px;

}

#section4 .card-now {
    position: absolute;
    top: 200px;
    left: 35%;
}

/* ================================= */
#section5 .light {
    position: absolute;
    top: 50px;
    left: 25%;
    z-index: -1;
}

#section5 .two-card {
    position: absolute;
    top: 420px;
    left: -100px;
    z-index: -2;
}

#section5 .heading {
    font-size: 60px;
    color: var(--gold-color);
    position: relative;
    top: 380px;
}

#section5 .heading-unlock {
    font-size: 60px;
    color: var(--gold-color);
    position: relative;
    top: 380px;
}

#section5 .pera {
    font-size: 20px;
    color: var(--text-color);
    position: relative;
    top: 400px;
}

#section5 .btn {
    position: relative;
    top: 460px;
}

#section5 a {
    color: var(--background-color);
    background-color: var(--gold-color) !important;
    font-size: 16px;
    font-weight: bold;
    border-radius: 25px;
    padding: 15px;
    text-decoration: none;
}

#section5 a:hover {
    background-color: var(--text-color) !important;
}
#section5 marquee {
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
    background-color: var(--gold-color);
    position: relative;
    font-size: 40px;
    color: var(--background-color);
    position: relative;
    top: 600px;
}

@keyframes marquee {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-100%);
    }
}

#section5 .unlock {
    position: relative;
    top: 300px;
}

#section5 .text-subtitle {
    color: var(--text-color);
    font-size: 24px;
    font-weight: bold;
    position: relative;
    top: 380px;

}

#section5 .unlock-cards {
    text-align: center;
}

#section5 .unlock-cards img {
    position: relative;
    top: 500px;
}

#section5 .rockstar {
    position: relative;
    top: 340px;
    padding-bottom: 60px;
    text-align: center;
}

#section5 .black-card {
    position: relative;
    top: 350px;
}

#section5 .black-card .card {
    background-color: black;
    border-radius: 15px;
    padding: 10px 20px;
}

#section5 .black-card .card h1 {
    color: var(--gold-color);
    font-size: 70px;
    font-weight: bold;
}

#section5 .black-card .card p {
    color: var(--text-color);
}

#section5 .black-card .card .img-card {
    text-align: end;
}

.img-side {
    text-align: end;
}

#section5 .unlock-btn {
    text-align: center;
}

#section5 .unlock-btn a {
    background: linear-gradient(to right, var(--primary-color), var(--secondary-color)) !important;
    color: var(--text-color);
    text-decoration: none;
}

/* =============================================================== */

#section6 {
    position: relative;
    top: 800px;
    padding-top: 60px;
    text-align: center;
    background: url('/assets/images/section6/star.svg');
}

#section6 h1 {
    font-size: 96px;
    font-weight: bold;
    color: var(--gold-color);
}

#section6 p {
    font-size: 24px;
    color: var(--text-color);
}

#section6 .card {
    background-color: var(--primary-color);
    padding: 10px;
    border-radius: 25px;
    color: var(--text-color);
}

#section6 .card p {
    font-size: 14px;
    text-align: justify;
}

#section6 .card h5 {
    font-size: 24px;
    text-align: justify;
}

#section6 .card h2 {
    text-align: left;
    color: var(--gold-color);
}

#section6 .rocket {
    padding-top: 150px;
}

#section6 .moon {
    position: absolute;
    top: 50%;
    right: 2%;
}

#section6 .cloud {
    position: relative;
    width: 100%;
    top: -80px;
}

#section6 .clouds {
    position: absolute;
    left: 0;
}

/* =============================================================== */

#section7 {
    background: linear-gradient(to right, var(--primary-color), var(--secondary-color)) !important;
    color: var(--text-color);
    position: relative;
    top: 650px;
    padding-top: 50px;
    padding-bottom: 50px;
}

#section7 h1 {
    font-size: 35px;
    font-weight: bold;
}

#section7 .man {
    text-align: end;
}

#section7 img {
    width: 50%;
    position: relative;
    top: -90px;
}

.footer-links {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-links li {
    display: inline-block;
    margin-right: 15px;
}

.footer-links a {
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
    color: white;
}

#section7 a {
    color: white;
    text-decoration: none;
}

@media only screen and (max-width: 768px) {
    .navbar {
        padding: 40px 10px;
    }

    .navbar-nav .nav-link {
        margin-top: 0;
    }

    .navbar-brand img {
        max-width: 50%;
    }

    .navbar-toggler-icon {
        color: white;
    }

    .navbar-toggler img {
        padding-top: -30px;
    }

    .bg-color {
        z-index: 1;
    }

    .smart-card {
        text-align: center;
        z-index: 2;
        margin-left: 0;
        padding-top: 40px;
        padding-bottom: 60px;
    }


    #section1 h2 {
        font-size: 32px;
        font-weight: bold;
        color: var(--text-color);
    }

    #section1 h6 {
        font-size: 28px;
        color: var(--gold-color);
        padding-top: 20px;
    }

    #section1 p {
        font-size: 16px;
        padding-top: 20px;
    }

    #section1 p span {
        font-size: 40px;
        color: var(--text-color);
    }

    #section1 .light img {
        z-index: 1;
    }

    #section1 .left-light {
        top: 55%;
        left: 0;
    }

    #section1 .right-light {
        top: 55%;
        right: 0;
    }

    /* ============================== */
    #section2 {
        border-top: 8px solid var(--gold-color);
        border-bottom: 8px solid var(--gold-color);
    }

    #section2 .heading {
        padding: 30px 0;
    }

    #section2 h6 {
        padding-top: 10px;
        font-size: 24px;
        font-weight: normal;
        text-align: center;
    }

    #section2 .no-need {
        padding-top: 60px;
    }

    /* ======================= */
    #section3 {
        padding-bottom: 300px;
    }

    #section3 .card {
        margin-top: 50px;
        border-radius: 10px;
        font-size: 24px;
        text-align: center;
        background-color: var(--card-color);
    }

    #section3 .card:last-child {
        background-color: var(--text-color);
        color: var(--card-text-color);
        font-size: 24px;
        padding: 20px;
    }

    #section3 .card:last-child .offer {
        position: absolute;
        left: 70%;
        top: 8%;
        width: 25%;
    }

    #section3 .card:last-child .arrow {
        position: relative;
        left: 0%;
        top: 5%;
        width: 25%;
        padding-bottom: 20px;
    }

    #section3 #carouselExample button {
        margin-top: 10px;
        position: relative;
        top: 10%;
        display: inline-block;
        background-color: var(--card-color);
        border-radius: 50%;
        border: var(--card-color);
        padding: 10px;
        color: var(--text-color);
        opacity: 1;
    }

    #section3 .carousel-item .card {
        margin-top: 50px;
        border-radius: 10px;
        font-size: 24px;
        text-align: center;
        background-color: var(--card-color);
    }

    #section3 .carousel-item .card h5 {
        font-size: 24px;
        color: var(--card-text-color);
    }

    #section3 .carousel-item .card p {
        font-size: 16px;
        color: var(--text-color);
        font-weight: normal;
        text-align: justify;
    }

    /* ============================================= */
    #section4 {
        background-color: var(--primary-color);
        padding-top: 100px;
        padding-bottom: 100px;
    }

    #section4 img {
        width: 100%;
        position: relative;
    }

    #section4 .bg-top-img {
        top: -200px;
    }

    #section4 .bg-bottum-img {
        top: 200px;
    }

    #section4 .text-subtitle {
        color: var(--text-color);
        font-size: 24px;
        font-weight: bold;
        position: absolute;
        top: -200px;
    }

    #section4 .text-head {
        color: var(--gold-color);
        font-size: 32px;
        position: absolute;
        top: -180px;
        padding-top: 30px;
    }

    #section4 .card {
        border-radius: 10px;
        padding: 10px;
        margin: 10px;
    }

    #section4 .card:last-child {
        margin-bottom: 50px;
    }

    #section4 .card:hover {
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
    }

    #section4 .card-title {
        border-radius: 20px;
        font-size: 24px;
    }

    #section4 .card-text {
        border-radius: 20px;
        font-size: 16px;
    }

    #section4 .card img {
        width: 100%;
        margin-left: 0;
    }

    #section4 .container {
        margin-top: -40px;
    }

    #section4 .ai-card {
        margin-top: -100px;
        padding: 50px;
        margin-bottom: -300px;
    }

    #section4 a {
        background-color: var(--gold-color);
        color: var(--background-color);
        border-radius: 15px;
        padding: 10px;
    }

    #section4 .card-now {
        position: absolute;
        top: 100px;
        left: 30%;
    }

    #section4 .padding-bottom {
        padding-bottom: 40px;
    }

    /* ======================================== */
    #section5 {
        margin-top: -200px;
    }

    #section5 .light {
        position: absolute;
        top: 250px;
        left: 0;
        width: 100%;
    }

    #section5 .light {
        position: absolute;
        top: 250px;
        left: 0%;
        width: 100%;
    }

    #section5 .two-card {
        position: absolute;
        left: -10%;
        top: 500px;
        width: 50vh;
    }

    #section5 .heading {
        padding-top: 500px;
        font-size: 32px;
    }

    #section5 .heading-unlock {
        font-size: 32px;
    }

    #section5 .pera {
        font-size: 20px;
        text-align: justify;
    }

    #section5 .btn {
        display: flex;
        justify-content: center;
    }

    #section5 .text-subtitle {
        color: var(--text-color);
        font-size: 24px;
        font-weight: bold;
        position: relative;
        top: 380px;

    }

    #section5 .unlock-cards {
        text-align: center;
    }

    #section5 .unlock-cards img {
        position: relative;
        top: 500px;
    }

    #section5 .rockstar {
        position: relative;
        top: 400px;
        text-align: center;
    }

    #section5 .rockstar img {
        width: 95%;
    }

    #section5 .black-card {
        position: relative;
        top: 460px;
    }

    #section5 .black-card .card {
        background-color: black;
        border-radius: 15px;
        padding: 10px 20px;
    }

    #section5 .black-card .card h1 {
        color: var(--gold-color);
        font-size: 32px;
        font-weight: bold;
    }

    #section5 .black-card .card p {
        color: var(--card-text-color);
        text-align: justify;
        padding-bottom: 30px;
    }

    #section5 .black-card .card .img-card {
        text-align: center;
    }

    .img-side {
        text-align: center;
    }

    #section5 .unlock-btn {
        text-align: center;
        padding-top: 30px;
    }

    /* ============================================= */
    #section6 {
        position: relative;
        top: 750px;
        padding-top: 60px;
        text-align: center;
        background: url('/assets/images/section6/star.svg');
    }

    #section6 h1 {
        font-size: 32px;
        font-weight: bold;
        color: var(--gold-color);
    }

    #section6 p {
        font-size: 24px;
        color: var(--text-color);
        text-align: justify;
        padding-top: 30px;
        padding-bottom: 30px;
    }

    #section6 #carouselExample button {
        display: none;
    }

    #section6 .carousel-item .card {
        font-size: 24px;
        text-align: center;
        background-color: var(--primary-color);
        margin: 20px;
        border-radius: 25px;
        color: var(--text-color);
    }

    #section6 .carousel-item .card h5 {
        text-align: justify;
    }

    #section6 .carousel-item .card h2 {
        text-align: left;
        color: var(--gold-color);
    }

    #section6 .carousel-item .card p {
        font-weight: normal;
        font-size: 14px;
        text-align: justify;
    }

    #section6 .rocket {
        padding-top: 80px;
        width: 50%;
        padding-bottom: 50px;
    }

    #section6 .moon {
        position: absolute;
        top: 40%;
        right: 2%;
        width: 20%;
    }

    #section6 .cloud {
        position: relative;
        width: 100%;
        top: -80px;
    }

    #section6 .clouds {
        position: absolute;
        left: 0;
    }

    /* =============================================================== */

    #section7 {
        padding-bottom: 200px;
    }

    #section7 h1 {
        font-size: 24px;
        font-weight: bold;
    }

    #section7 .man {
        text-align: end;
    }

    #section7 img {
        position: relative;
        top: -90px;
    }

    #section7 {
        background: linear-gradient(to right, var(--primary-color), var(--secondary-color)) !important;
        color: var(--text-color);
        position: relative;
        top: 650px;
        padding-top: 50px;
        padding-bottom: 50px;
    }

    #section7 .man {
        text-align: center;
    }

    #section7 img {
        width: 50%;
        position: relative;
        top: -90px;
    }

    .footer-links a {
        font-size: 18px;
    }
}