@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

:root {
    --primary-color: #cf4258;
    --secondary-color: #f38d56;
    --background-color: #171717;
    --text-color: #fff;
    --gold-color: #ffd956;
}

.head-img {
    width: 100%;
    position: relative;
    top: -10%;
}

body {
    background: var(--background-color) url('..//images/star.svg');
    font-family: "Outfit", sans-serif;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

.bg-color {
    background: linear-gradient(to right, var(--primary-color), var(--secondary-color));
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

/* .navbar-nav .nav-link {
    color: var(--text-color);
    font-size: 24;
    font-weight: bold;
}

.navbar-nav .nav-link.active {
    color: var(--gold-color);
}
.navbar-nav .nav-link:hover {
    color: var(--gold-color);
}

.navbar-brand {
    margin-top: 0px;
    width: 100px;
}

.navbar-brand img.barcode {
    width: 150px;
}

.navbar-brand img.logo {
    width: 70%;
}

.nav-item {
    margin-top: -50px;
}

.nav-item a {
    font-size: 36px;
} */
.navbar {
    padding: 0 80px;
}

.btn-card {
    padding-top: 20px;
    display: flex;
}

.btn-card button {
    background-color: rgba(255, 255, 255, 0.3);
    color: var(--gold-color);
    border-radius: 40px;
    padding: 10px 20px;
    margin-right: 10px;
    font-size: 32px;
    font-weight: bold;
    border: none;
}

.btn-card button:first-child {
    background-color: var(--text-color);
    color: var(--primary-color);
}

.navbar-nav .nav-link {
    color: var(--text-color);
    font-size: 24px;
    font-weight: bold;
    transition: color 0.3s;
    margin-top: -65px;
}

.navbar-nav .nav-link.active {
    color: var(--gold-color) !important;
}

.navbar-nav .nav-link:hover {
    color: var(--gold-color) !important;
}

.navbar-brand img.barcode {
    width: 150px;
    padding-bottom: 20px;
}

.navbar-brand img {
    max-width: 100%;
}

.left-img {
    margin-top: -45px;
}

.navbar-brand img {
    max-width: 100%;
}

.navbar-nav .nav-item {
    margin-right: 40px !important;
}

.navbar-nav .nav-item:last-child {
    margin-right: 0 !important;
}

#section1 {
    padding-top: 100px;
    padding-bottom: 30px;
    position: relative;
    overflow: hidden;
    margin-top: -40px;
}

.section1text {
    margin-top: 100px;
}

#section1 h3 {
    font-family: Outfit;
    font-size: 64px !important;
    font-style: normal !important;
    font-weight: 700 !important;
    line-height: normal;
    color: var(--text-color);
    margin-top: -150px;
}

#section1 h5 {
    font-family: Outfit;
    font-size: 35px !important;
    font-style: normal !important;
    font-weight: 500 !important;
    line-height: normal;
    color: var(--text-color);
    margin-top: 20px;
}

#section1 p {
    font-family: Outfit;
    font-size: 24px !important;
    font-style: normal !important;
    font-weight: 400 !important;
    line-height: normal;
    color: var(--gold-color);
    margin-top: 20px;
}

.search-container {
    position: relative;
    margin-top: 40px;
}

.search-bar {
    width: 80%;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.3);
    border: none;
    border-radius: 35px;
    color: #fff;
}

.search-bar::placeholder {
    color: var(--text-color);
}

.search-btn {
    position: absolute;
    top: 50%;
    right: 21%;
    transform: translateY(-50%);
    font-size: 18px;
    font-weight: bold;
    padding: 12px;
    background-color: #fff;
    color: var(--primary-color);
    border: none;
    border-radius: 25px;
}

#section1 {
    a {
        text-decoration: none;
    }
}

/* #section1:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background: var(--background-color);
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    z-index: 1;
} */

.curve-image {
    position: relative;
    display: flex;
    justify-content: flex-end;
    left: 20%;
    /* margin-top: -130px; */
}

.curve-image img {
    margin-top: -133px;
}



.moon-img {
    position: absolute;
    width: 14%;
    top: 6%;
    left: 84%;
}

.clouds-img {
    position: absolute;
    width: 100%;
    margin: 0 auto;
    top: 30%;
    left: 1%;
    z-index: -1;
}

#testimonialCarousel {
    display: none;
}

.testimonial {
    display: block !important;
}


.curve-image {
    position: relative;
    display: flex;
    justify-content: flex-end;
    margin-top: 30px;
}


/*  */
#section2 {
    text-align: center;
    padding: 100px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#section2 h3 {
    color: var(--gold-color);
    font-size: 96px;
    font-weight: bold;
    text-align: center;
}

#section2 h4 {
    font-size: 56px;
    color: var(--gold-color);
    text-align: left;
}

#section2 p {
    color: var(--text-color);
    font-size: 24px;
    font-weight: normal;
    padding-top: 20px;
    text-align: justify;
}

#section2 .space {
    margin-top: 60px;
}

#section2 .btn {
    margin: 20px;
    font-size: 24px;
    background-color: var(--text-color);
    color: var(--primary-color);
    border-radius: 25px;
}

.btn-ai {
    background-color: rgba(255, 255, 255, 0.3);
    color: var(--gold-color);
    font-size: 36px;
    margin: 100px;
    border-radius: 35px;
}


/* Section 3 Styles */
#section3 {
    background-color: var(--primary-color);
    text-align: center;
    padding: 100px 0;
    margin: 100px 0;
    padding-bottom: 0 !important;
    margin-bottom: 0 !important;
    position: relative;
}

#section3 .top-border {
    margin-top: -300px;
}

#section3 .laptop-man {
    width: 150px;
    position: absolute;
    top: -11%;
    left: 48%;
}

#section3 h3 {
    color: var(--gold-color);
    font-size: 96px;
    font-weight: bold;
    text-align: center;
}

#section3 p {
    color: var(--text-color);
    font-size: 24px;
    font-weight: normal;
    padding-top: 20px;
    text-align: justify;
}

#section3 .phone-img {
    max-width: 100%;
    height: auto;
    margin-top: 30px;
}

#section3 button {
    background-color: rgba(255, 255, 255, 0.3);
    color: var(--gold-color);
    border-radius: 40px;
    width: 400px;
    height: 72px;
    position: relative;
    top: 100px;
    font-size: 32px;
    font-weight: bold;
    border: none;
}

.bottom-border {
    position: relative;
    top: 280px;
}

.bottom-border img {
    transform: rotate(180deg);
}


/* Section 4 Styles */
#section4 {
    text-align: center;
    padding: 100px 0 0 0;
    margin-top: 200px !important;
    position: relative;
}

#section4 h3 {
    color: var(--gold-color);
    font-size: 96px;
    font-weight: bold;
    text-align: center;
}

#section4 p {
    color: var(--text-color);
    font-size: 24px;
    font-weight: normal;
    padding-top: 20px;
    text-align: justify;
}

#section4 .rating {
    font-size: 34px;
    color: var(--gold-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#section4 .msg {
    display: flex;
    justify-content: space-between;

}

#section4 .card {
    background-color: var(--primary-color);
    border-radius: 15px;
    color: var(--text-color);
    margin-top: 40px;
}

#section4 .writer {
    padding-top: 5px;
}

#section4 .rocket-img {
    width: 200px;
    padding-top: 40px;
    position: relative;
    z-index: 2;
}

#section4 .cloud-img {
    width: 100%;
    position: relative;
    z-index: 1;
    margin-top: -300px;
}


/* Section 5 Styles */
#section5 {
    padding-top: 50px;
    position: relative;
}

#section5 h3 {
    font-size: 36px;
    font-weight: bold;
    color: var(--text-color);
    padding-top: 25px;
}

#section5 .main-img {
    position: relative;
    top: -30%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    z-index: 1;
}

#section5 img {
    position: relative;

    z-index: 1;
    top: -100px;
    width: 50%;
}

#section5 p {
    color: var(--text-color);

}

#section5 a {
    font-size: 24px;
    font-weight: bold;
    color: var(--text-color);
}

#section5 .col-12 ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

#section5 .col-12 li {
    margin-right: 20px;
}

#section5 .col-12 a {
    text-decoration: none;
}

.status {
    display: none;
    margin-top: 5px;
}

.status h6 {
    margin: 0;
    font-size: 18px;
    padding-top: 10px;
}

.success {
    color: #7AF917;
}

.error {
    color: #7C0518;
}

@media screen and (max-width: 768px) {

    .btn-card {
        padding-top: 20px;
        justify-content: center;
    }

    .btn-card button {
        padding: 10px 20px;
        margin-right: 10px;
        font-size: 18px;
    }

    .navbar {
        padding: 40px 30px;
    }

    .navbar-nav .nav-link {
        margin-top: 0;
    }

    .navbar-brand img {
        max-width: 100%;
    }

    .navbar-toggler-icon {
        color: white;
    }

    .navbar-toggler img {
        padding-top: -30px;
    }

    .navbar-brand {
        margin-top: 0px;
        width: 50px;
    }

    #section1 {
        padding-top: 50px;
    }

    #section2 {
        padding: 30px 0;
    }

    #section2 h3 {
        font-size: 36px;
    }

    #section2 h4 {
        font-size: 36px;
        text-align: left;
    }

    #section2 p {
        font-size: 24px;
        padding-top: 20px;
    }

    #section2 .space {
        margin-top: 30px;
    }

    #section2 .btn {
        font-size: 18px;
    }

    .btn-ai {
        margin: 40px 0;
        font-size: 24px;
        border-radius: 25px;
    }

    #section3 .top-border {
        margin-top: -100px;
    }

    #section3 .laptop-man {
        width: 100px;
        position: absolute;
        top: -16%;
        left: 32%;
    }

    #section3 h3 {
        font-size: 36px;
    }

    #section3 p {
        font-size: 24px;
    }

    #section3 button {
        border-radius: 40px;
        width: 282px;
        height: 52px;
        position: relative;
        top: 100px;
        font-size: 22px;
        font-weight: bold;
        border: none;
    }

    .bottom-border {
        position: relative;
        top: 150px;
    }

    #section1 h3 {
        font-size: 35px !important;
        font-weight: bold !important;
        color: var(--text-color);
        margin-top: 2px;
        text-align: center;
    }

    .section1text {
        margin-top: -10px;
    }

    #section1 h5 {
        font-size: 22px !important;
        font-weight: bold;
        color: var(--text-color);
        text-align: center;
        margin-top: 20px;
    }

    #section1 p {
        color: var(--gold-color);
        font-size: 18px !important;
        font-weight: bold;
        margin-top: 10px;
        text-align: center;
        margin-top: 20px;
    }

    .curve-image {
        align-items: center;
    }

    .curve-image img {
        margin-top: 10px;
        margin-right: 76px;
    }

    .search-container {
        position: relative;
        margin-top: 30px;
        text-align: center;
    }

    .search-bar {
        width: 80%;
        padding: 10px;
        background-color: rgba(255, 255, 255, 0.3);
        border: none;
        border-radius: 25px;
        color: #fff;
    }

    .search-bar::placeholder {
        color: var(--text-color);
    }

    .search-btn {
        position: absolute;
        top: 50%;
        right: 11%;
        transform: translateY(-50%);
        font-size: 12px;
        font-weight: bold;
        padding: 10px;
        background-color: #fff;
        color: var(--primary-color);
        border: none;
        border-radius: 25px;
    }

    /* #section1:before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 52px;
        background: var(--background-color);
        border-top-left-radius: 50%;
        border-top-right-radius: 50%;
        z-index: 1;
    }
    .curve-image {
        position: relative; 
        display: flex; 
        justify-content: flex-end; 
        margin-top:30px;
    } */
    #section4 {
        margin-top: 50px !important;
    }

    #section4 h3 {
        font-size: 36px;
    }

    #section4 p {
        font-size: 24px;
    }

    #section4 .card p {
        font-size: 14px;
    }

    #section4 .card {
        border-radius: 15px;
        height: 450px;
    }

    #section4 .rocket-img {
        width: 150px;
    }

    #section4 .cloud-img {
        margin-top: -85px;
    }

    #section5 {
        padding-top: 30px;
        padding-bottom: 20px;
        margin-bottom: 10px;
    }

    #section5 h3 {
        font-size: 24px;
        padding-top: 15px;
    }

    #section5 img {
        width: 50%;
        position: relative;
        z-index: 3;
        top: -20%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
    }

    #section5 p {
        color: var(--text-color);
    }

    #section5 a {
        font-size: 12px;
        font-weight: bold;
        text-align: left;
    }

    #section2,
    #section3 {
        padding: 50px 0 !important;
    }

    .img-fluid {
        width: 100%;
    }

    .navbar-brand img {
        width: 30px;
    }


    .moon-img {
        position: absolute;
        width: 14%;
        top: 5%;
        left: 84%;
    }

    .cloud-img {
        position: absolute;
    }

    .clouds-img {
        position: absolute;
        width: 100%;
        margin: 0 auto;
        top: 80%;
        left: 1%;
        z-index: -1;
    }

    #testimonialCarousel {
        display: block;
    }

    .testimonial {
        display: none !important;
    }

    .head-img {
        width: 100%;
        position: relative;
        top: -12%;
    }

    .arrow-img {
        position: relative;
        top: 20%;
        left: 40%;
        transform: rotate(10deg);
    }

    .claim-img {
        position: relative;
        top: -14%;
        left: 40%;
    }

    #section7 {
        padding-top: 20px;
    }

}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    /*  */
}


/* ============================================================= */
/* ============================================================= */

#section7 {
    margin: 5% 10%;
}

#section7 .card {
    position: relative;
    overflow: hidden;
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.10);
    transition: box-shadow 0.3s ease, transform 0.3s ease;

}

#section7 .card:hover {
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    transform: translateY(-5px);
}

#section7 .card-title {
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    padding-bottom: 30px;
}

#section7 .card-subtitle {
    font-size: 24px;
    text-align: left;
    padding-bottom: 25px;
}

#section7 .card-text {
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    text-align: left;
    padding-bottom: 25px;
}